@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --color-primary-dark: #343541;
  --color-secondary-dark: #40414F;
  --color-accent-purple: #756477;
  --color-accent-pink-light: #DECFCF;
  --color-accent-cream: #F6EEE8;
  --color-accent-pink: #EDA7A7;
  --color-profile-blue: #5436DA;
  --color-profile-green: #10a37f;
  --color-text-light: #dcdcdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #343541;

  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--color-accent-purple), var(--color-accent-pink-light), var(--color-accent-cream), var(--color-accent-pink));
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: transparent;
  border-radius: 10px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #000000;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;


  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(135deg, var(--color-accent-pink), var(--color-accent-purple));

  display: flex;
  border-radius: 20px;
  transform: translateY(-10px);
  flex-direction: row;
}

textarea {
  width: 100%;


  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transform: translateY(2px);
}

header {
  width: 80%;
  padding: 20px;
  color: var(--color-text-light);

  display: flex;
  background: var(--color-accent-cream);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}
.img_bot{
  width: 30px;
  height: 30px;
}
.bot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.bot h1{
  font-size: 40px;
  color: var(--color-primary-dark);
  margin-left: 10px;
}